html:not(.android-device) {
    * {
        text-rendering: geometricPrecision;
    }
}

header,
main,
footer {
    overflow-x: hidden;
}

.content {
	&:before {
		@include before(0, 0);
		@include backgroundImage("/images/bg_wave.png", center, no-repeat, contain);
		width: 100%;
		height: 1400px;
		pointer-events: none;
	}
}

.h1 {
	@include fontStyle($bebe, 55px, 80px, 700);
	letter-spacing: 2.75px;
	text-transform: uppercase;
	color: $color_4A4B4C;
}

.h2 {
	@include fontStyle($bebe, 50px, 50px, 700);
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: $color_4A4B4C;
	margin-bottom: 40px;
}

.paragraph {
	@include fontStyle($pt, 22px, 38px);
	color: $color_4A4B4C;

	&--italic {
		font-style: italic;
	}
}

.section {
	max-width: 1400px;
	@include marginAuto;

	&--main {
		margin-bottom: 410px;

		&:after {
			@include before(0, 0);
			@include backgroundImage("/images/lines-top.png", center);
			width: 100%;
			height: 745px;
			pointer-events: none;
		}

		.paragraph {
			margin-top: 35px;
		}
	}

	&--about {
		display: flex;
		margin-bottom: 180px;

		.section__text {
			max-width: 315px;
			margin-right: 215px;
		}
	}

	&--services {
		display: flex;

		.section__text {
			max-width: 175px;
			margin-right: 185px;
		}
	}

	&--who {
		display: flex;

		.section__text {
			max-width: 175px;
		}
	}

	&--contacts {
		display: flex;
		margin-bottom: 75px;

		.section__text {
			max-width: 295px;
			margin-right: 185px;
		}
	}
}

.about {
	display: flex;

	&__item {
		margin-right: 45px;

		&:last {
			margin-right: 0;
		}
	}

	&__count {
		@include fontStyle($bebe, 90px, 50px, 300);
		letter-spacing: 4.5px;
		color: $color_4A4B4C;
		margin-bottom: 30px;
	}

	&__text {
		@include fontStyle($pt, 19px, 32px);
		color: $color_4A4B4C;
	}
}

.video-top {
	height: 185px;
	position: relative;
	overflow: hidden;

	.light-paints {
		width: 100%;
		height: auto;
		position: absolute;
		top: 0;
		right: 0;
		transform: translateY(-50%);
		z-index: 1;
	}
}

.dots-bg {
	position: relative;
	padding-top: 185px;
	margin-bottom: 260px;
	@include backgroundImage('/images/dots-back.png', top center, no-repeat, 100% auto);

	&:after {
		@include before(100%, 0);
		width: 100%;
		height: 113px;
		background: linear-gradient(180deg, rgba($color_000,0) 0%, $color_fff 100%);
		pointer-events: none;
	}
}

.services {
	display: flex;
	margin-bottom: 255px;

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: calc(33% - 70px);
		flex: 0 0 calc(33% - 70px);
		margin-right: 70px;

		&:nth-child(3) {
			margin-right: 0;
		}

		.paragraph {
			@include fontStyle($pt, 19px, 32px);

			&:nth-child(2n) {
				margin-top: 30px;
			}
		}
	}

	&__title {
		min-height: 60px;
		flex: 0 0 60px;
		@include fontStyle($bebe, 30px, 30px, 700);
		letter-spacing: 1.5px;
		text-transform: uppercase;
		color: $color_4A4B4C;
		margin-bottom: 46px;
	}

	&__text {
		position: relative;
		padding-top: 30px;

		&:before {
			@include before(0, 0);
			width: 48px;
			height: 3px;
			background-color: $color_5A85AD;
		}
	}
}

.socials {
	display: flex;
	margin-top: 35px;

	&__item {
		width: 26px;
		height: 26px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin-right: 15px;

		&--linkedin {
			background-image: url(/images/linkedin.svg);
		}

		&--instagram {
			background-image: url(/images/instagram.svg);
		}

		&--facebook {
			background-image: url(/images/facebook.svg);
			margin-right: 0;
		}
	}
}

.copyright {
	@include fontStyle($pt, 16px, 28px);
	color: $color_4A4B4C;
	margin-top: 80px;
}