html:not(.android-device) {
    * {
        text-rendering: geometricPrecision;
    }
}

* {
	box-sizing: border-box;
}

header,
main,
footer {
    overflow-x: hidden;
}

br {
	@media (max-width: $tablet_width) {
		display: none;
	}
}

.canvas-link {
	font-family: $bebe;
}

.content {
	&:before {
		@include before(0, 0);
		@include backgroundImage("/images/bg_wave.png", center, no-repeat, contain);
		width: 100%;
		height: 1400px;
		pointer-events: none;

		@media (max-width: $tablet_width) {
			height: 1110px;
		}

		@media (max-width: $s_mobile_width) {
			height: 1100px;
		}

		@media (max-width: $mobile_width) {
			height: 1000px;
		}
	}
}

.h1 {
	@include fontStyle($bebe, 55px, 80px, 700);
	letter-spacing: 2.75px;
	text-transform: uppercase;
	color: $color_4A4B4C;

	@media (max-width: $tablet_width) {
		font-size: 45px;
	}

	@media (max-width: $big-mobile_width) {
		font-size: 40px;
	}

	@media (max-width: $mobile_width) {
		font-size: 35px;
	}
}

.h2 {
	@include fontStyle($bebe, 50px, 50px, 700);
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: $color_4A4B4C;
	margin-bottom: 40px;

	@media (max-width: $tablet_width) {
		font-size: 40px;
	}

	@media (max-width: $big-mobile_width) {
		font-size: 35px;
	}

	@media (max-width: $mobile_width) {
		font-size: 32px;
	}
}

.paragraph {
	@include fontStyle($pt, 22px, 38px);
	color: $color_4A4B4C;

	@media (max-width: $mobile_width) {
		font-size: 18px;
	}

	&--italic {
		font-style: italic;
	}
}

.section {
	max-width: 1400px;
	@include marginAuto;

	@media (max-width: $big-notebook_width) {
		max-width: 100%;
		padding-left: 100px;
		padding-right: 100px;
	}

	@media (max-width: $smallpc_width) {
		padding-left: 50px;
    	padding-right: 50px;
	}

	@media (max-width: $mobile_width) {
		padding-left: 30px;
    	padding-right: 20px;
	}

	&--main {
		margin-bottom: 410px;

		@media (max-width: $s_mobile_width) {
			margin-bottom: 280px;
		}

		@media (max-width: $mobile_width) {
			margin-bottom: 250px;
		}

		&:after {
			@include before(0, 0);
			@include backgroundImage("/images/lines-top.png", center);
			width: 100%;
			height: 745px;
			pointer-events: none;

			@media (max-width: $tablet_width) {
				top: -170px;
			}

			@media (max-width: $s_mobile_width) {
				background-size: 124%;
    			height: 825px;
    			top: 0;
			}

			@media (max-width: $mobile_width) {
				background-size: 130%;
			    height: 835px;
			}
		}

		.paragraph {
			margin-top: 35px;
		}
	}

	&--about {
		display: flex;
		margin-bottom: 180px;

		@media (max-width: $tablet_width) {
			flex-direction: column;
			margin-bottom: 75px;
		}

		.section__text {
			max-width: 315px;
			margin-right: 215px;

			@media (max-width: $smallpc_width) {
				margin-right: 65px;
			}

			@media (max-width: $tablet_width) {
				margin-right: 0;
				margin-bottom: 70px;
			}
		}
	}

	&--services {
		display: flex;

		@media (max-width: $laptop_width) {
			flex-direction: column;
		}

		.section__text {
			max-width: 175px;
			margin-right: 185px;

			@media (max-width: $laptop_width) {
				margin-right: 0;
				margin-bottom: 20px;
			}
		}
	}

	&--who {
		display: flex;
		justify-content: space-between;
		padding-bottom: 45px;

		@media (max-width: $s_mobile_width) {
			flex-direction: column;
		}

		.section__text {
			max-width: 175px;
			flex: 0 0 175px;

			@media (max-width: $s_mobile_width) {
				flex: none;
			}
		}

		.section__description {
			margin-top: 45px;
			position: relative;
			z-index: 2;

			@media (max-width: $tablet_width) {
				margin-top: 0;

				#myCanvas {
					width: 100%;
				}
			}		}
	}

	&--where {
		display: flex;
		margin-bottom: 185px;

		@media (max-width: $tablet_width) {
			flex-direction: column;
		}

		@media (max-width: $big-mobile_width) {
			margin-bottom: 80px;
		}

		.h2 {
			margin-bottom: 30px;
		}

		.section__text {
			max-width: 295px;
			flex: 0 0 295px;

			@media (max-width: $tablet_width) {
				flex: none;
				margin-bottom: 40px;
			}
		}

		.section__description {
			display: flex;
			align-items: flex-start;

			img {
				width: 100%;
				height: auto;

				@media (max-width: $mobile_width) {
				    width: 120%;
				    left: -34px;
				    position: relative
				}
			}
		}
	}

	&--projects {
		display: flex;
		padding-top: 180px;
		padding-bottom: 170px;
		position: relative;
		z-index: 2;

		@media (max-width: $laptop_width) {
			flex-direction: column;
		}

		@media (max-width: $big-mobile_width) {
			margin-bottom: 80px;
			padding-top: 85px;
			padding-bottom: 80px;
		}

		.section__text {
			max-width: 320px;
			flex: 0 0 320px;
			margin-right: 75px;

			@media (max-width: $laptop_width) {
				flex: none;
				margin-right: 0;
				margin-bottom: 60px;
			}

			@media (max-width: $mobile_width) {
				.paragraph {
					font-size: 14px;
				}
			}
		}

		.section__description {
			flex: 0 0 calc(100% - 395px);
			width: calc(100% - 395px);

			@media (max-width: $laptop_width) {
				flex: none;
				width: 100%;
			}
			
			.paragraph {
				@include fontStyle($pt, 18px, 28px, 700);
				color: $color_303030;
				text-align: center;
			    top: -25px;
    			position: relative;

    			@media (max-width: $big-mobile_width) {
    				top: 0;
    				margin-top: 80px;
    			}

    			@media (max-width: $mobile_width) {
					font-size: 14px;
					max-width: 185px;
					@include marginAuto;
				}
			}
		}

	}

	&--contacts {
		display: flex;
		margin-bottom: 75px;

		@media (max-width: $big-mobile_width) {
			margin-bottom: 20px;
		}

		.section__text {
			max-width: 295px;
			margin-right: 185px;

			@media (max-width: $tablet_width) {
				margin-right: 50px;
			}

			@media (max-width: $big-mobile_width) {
				max-width: 100%;
				width: 100%;
				margin-right: 0;

				.h2 {
					max-width: 295px;
				}
			}
		}

		.section__description {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			@media (max-width: $big-mobile_width) {
				display: none;
			}
		}

		.contact {
			&-phone {
				@include fontStyle($pt, 70px, 70px);
				color: $color_4A4B4C;
				display: block;
				margin-bottom: 55px;
				margin-top: 60px;

				@media (max-width: $laptop_width) {
					font-size: 50px;
				}

				@media (max-width: $tablet_width) {
					font-size: 40px;
				}

				@media (max-width: $big-mobile_width) {
					margin-bottom: 25px;
				}

				@media (max-width: $mobile_width) {
					font-size: 27px;
				}
			}

			&-email {
				@include fontStyle($pt, 50px, 50px);
				color: $color_4a7296;
				display: block;

				@media (max-width: $tablet_width) {
					font-size: 40px;
				}

				@media (max-width: $mobile_width) {
					font-size: 20px;
				}
			}

			&-mobile {
				display: none;

				@media (max-width: $big-mobile_width) {
					display: block;
				}
			}
		}
	}

	&--reviews {
		padding-bottom: 290px;

		@media (max-width: $big-mobile_width) {
			padding-bottom: 130px;
		}
	}
}

.about {
	display: flex;

	@media (max-width: $big-mobile_width) {
		flex-direction: column;
	}

	&__item {
		margin-right: 45px;

		&:first-child {
			flex: 0 0 110px;

			@media (max-width: $big-mobile_width) {
				flex: none;
			}
		}

		@media (max-width: $tablet_width) {
			margin-right: 65px;
		}

		@media (max-width: $big-mobile_width) {
			margin-right: 0;
			margin-bottom: 50px;
		}

		&:last-child {
			margin-right: 0;
			margin-bottom: 0;
		}
	}

	&__count {
		@include fontStyle($bebe, 90px, 50px, 300);
		letter-spacing: 4.5px;
		color: $color_4A4B4C;
		margin-bottom: 30px;

		@media (max-width: $mobile_width) {
			font-size: 70px;
		}
	}

	&__text {
		@include fontStyle($pt, 19px, 32px);
		color: $color_4A4B4C;

		@media (max-width: $mobile_width) {
			font-size: 14px;
		}
	}
}

.video-top {
	height: 185px;
	position: relative;
	overflow: hidden;

	&__img {
		position: absolute;
		z-index: 2;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		@media (max-width: $s_mobile_width) {
			display: none;
		}
	}

	.light-paints {
		width: 100%;
		height: auto;
		position: absolute;
		top: 0;
		right: 0;
		transform: translateY(-50%);
		z-index: 1;

		@media (max-width: $tablet_width) {
			transform: none;
		}
	}
}

.clouds-bg {
	position: relative;
	overflow: hidden;
	@include backgroundImage("/images/plumage.png", center, no-repeat, cover);
	margin-bottom: 185px;

	.feathers {
		width: 100%;
		height: auto;
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 1;
		transform: translateY(-50%);

		@media (max-width: $smallpc_width) {
			height: 130%;
			width: auto;
			left: -10%;
		}
	}
}

.dots-bg {
	position: relative;
	padding-top: 185px;
	margin-bottom: 130px;
	@include backgroundImage('/images/dots-back.png', top left, no-repeat, 120% auto);
	animation-name: bg-anim;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;

	@media (max-width: $big-mobile_width) {
		margin-bottom: 120px;
		padding-top: 50px;
		background-size: cover;
		animation-duration: 60s;
	}

	&:after {
		@include before(93%, 0);
		width: 100%;
		height: 113px;
		background: linear-gradient(180deg, rgba($color_000,0) 0%, $color_fff 100%);
		pointer-events: none;
	}
}

.lines-bg {
	@include backgroundImage('/images/lines-bottom.png', left bottom, no-repeat);

	@media (max-width: $big-mobile_width) {
		background-size: 260%;
		background-position: right bottom;
		margin-bottom: 100px;
	}
}

.services {
	display: flex;
	margin-bottom: 120px;

	@media (max-width: $big-mobile_width) {
		flex-direction: column;
		margin-bottom: 100px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: calc(33% - 70px);
		flex: 0 0 calc(33% - 70px);
		margin-right: 70px;

		@media (max-width: $big-notebook_width) {
			justify-content: flex-start;
		}

		@media (max-width: $laptop_width) {
			width: calc(33% - 40px);
			flex: 0 0 calc(33% - 40px);
			margin-right: 40px;
		}

		@media (max-width: $big-mobile_width) {
			width: 100%;
			flex: 0 0 100%;
			margin-right: 0;
			margin-bottom: 75px;
		}

		&:nth-child(3) {
			margin-right: 0;
			margin-bottom: 0;
		}

		.paragraph {
			@include fontStyle($pt, 19px, 32px);

			&:nth-child(2n) {
				margin-top: 30px;
			}
		}
	}

	&__title {
		min-height: 60px;
		flex: 0 0 60px;
		@include fontStyle($bebe, 30px, 30px, 700);
		letter-spacing: 1.5px;
		text-transform: uppercase;
		color: $color_4A4B4C;
		margin-bottom: 46px;

		@media (max-width: $big-mobile_width) {
			min-height: unset;
			flex: none;
		}

		@media (max-width: $mobile_width) {
			font-size: 20px;
			margin-bottom: 30px;
		}
	}

	&__text {
		position: relative;
		padding-top: 30px;

		@media (max-width: $mobile_width) {
			.paragraph {
				font-size: 14px;
			}
		}

		&:before {
			@include before(0, 0);
			width: 48px;
			height: 3px;
			background-color: $color_5A85AD;
		}
	}
}

.socials {
	display: flex;
	margin-top: 35px;

	&__item {
		width: 26px;
		height: 26px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin-right: 15px;

		&--linkedin {
			background-image: url(/images/linkedin.svg);
		}

		&--instagram {
			background-image: url(/images/instagram.svg);
		}

		&--facebook {
			background-image: url(/images/facebook.svg);
			margin-right: 0;
		}
	}
}

.copyright {
	@include fontStyle($pt, 16px, 28px);
	color: $color_4A4B4C;
	margin-top: 80px;

	@media (max-width: $big-mobile_width) {
		text-align: center;
	}

	@media (max-width: $mobile_width) {
		font-size: 12px;
	}
}

.projects-slider {
	height: 305px;
	width: 100%;

	@media (max-width: $big-mobile_width) {
		height: 400px;
	}

	&__wrap {
		display: flex;
		flex-wrap: wrap;
	}

	&__project {
		width: 25%;
		flex: 0 0 25%;
		padding-left: 15px;
		padding-right: 15px;
		height: 100px;

		@media (max-width: $big-mobile_width) {
			width: 50%;
			flex: 0 0 50%;
		}

		@media (max-width: $mobile_width) {
			padding: 0;
		}
	}

	.slick-dots {
		bottom: 0;

		@media (max-width: $big-mobile_width) {
			bottom: -45px;
		}

		li {
			width: 11px;
			height: 11px;
			border-radius: 50%;
			background-color: $color_CECECE;
			overflow: hidden;
			transition: $transition;
			margin: 0 10px;

			&.slick-active {
				background-color: $color_5A85AD;
			}

			button {
				width: 100%;
				height: 100%;
				text-indent: -9999px;
				white-space: nowrap;
			}
		}
	}
}

.slick-slide {
	outline: none;
}

.reviews-slider {
	margin-top: 40px;

	&__wrap {
		display: flex;

		@media (max-width: $big-mobile_width) {
			flex-direction: column;
		}
	}

	&__author {
		display: flex;
		margin-right: 160px;

		@media (max-width: $smallpc_width) {
			margin-right: 60px;
		}

		@media (max-width: $big-mobile_width) {
			margin-bottom: 40px;
			margin-right: 0;
		}
	}

	&__img {
		width: 93px;
		flex: 0 0 93px;
		height: 93px;
		margin-right: 27px;
		border-radius: 50%;
		overflow: hidden;
		background-position: center;
		background-repeat: no-repeat;

		@media (max-width: $mobile_width) {
			width: 65px;
			flex: 0 0 65px;
			height: 65px;
			margin-right: 15px;
			background-size: contain;
		}
	}

	&__about {
		width: 200px;
		flex: 0 0 200px;
	}

	&__fio {
		@include fontStyle($pt, 20px, 28px, 700);
		color: $color_4A4B4C;
		margin-bottom: 15px;

		@media (max-width: $mobile_width) {
			font-size: 16px;
		}
	}

	&__position {
		@include fontStyle($pt, 18px, 24px);
		color: $color_8C8C8C;
		margin-bottom: 15px;

		@media (max-width: $mobile_width) {
			font-size: 14px;
		}
	}

	&__info {
		@include fontStyle($pt, 14px, 20px);
		color: $color_8C8C8C;

		@media (max-width: $mobile_width) {
			font-size: 12px;
		}
	}

	&__text-wrap {
		width: 600px;
		flex: 0 0 600px;

		@media (max-width: $smallpc_width) {
			width: calc(100% - 380px);
			flex: 0 0 calc(100% - 380px);
		}

		@media (max-width: $big-mobile_width) {
			flex: none;
			width: 100%;
		}
	}

	&__text {
		@include fontStyle($pt, 28px, 46px);
		font-style: italic;
		color: $color_4A4B4C;
		margin-bottom: 50px;

		@media (max-width: $tablet_width) {
			font-size: 22px;
		}

		@media (max-width: $mobile_width) {
			font-size: 14px;
		}
	}

	&__next {
		@include fontStyle($pt, 16px, 20px, 700);
		color: $color_4A4B4C;
		padding-right: 20px;
		position: relative;
		outline: none;
		cursor: pointer;

		@media (max-width: $mobile_width) {
			font-size: 12px;
		}

		&:focus,
		&:active {
			outline: none;
		}

		&:after {
			@include before(6px, auto, 0);
			width: 7px;
			height: 12px;
			@include backgroundImage('/images/slider-arrow.png', center, no-repeat, contain);
		}
	}
}

.downArrow{
	position: absolute;
	top: 47%;
	left: calc((100% - 1400px) / 2);
	z-index: 2;

	@media (max-width: $big-notebook_width) {
		left: 100px;
	}

	@media (max-width: $smallpc_width) {
		left: 50px;
	}

	@media (max-width: $tablet_width) {
		top: 45%;
	}

	@media (max-width: $big-mobile_width) {
		display: none;
	}
}
.bounce {
	animation: bounce 3s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes bg-anim {
	0% {
		background-position: top left;
	}

	100% {
		background-position: top right;
	}
}