@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-SemiBold.ttf") format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "PT";
    src: url("/fonts/PT_Sans-Web-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "PT";
    src: url("/fonts/PT_Sans-Web-Italic.ttf") format('truetype');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Bebas";
    src: url("/fonts/BebasNeue_Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Bebas";
    src: url("/fonts/BebasNeue_Light.ttf") format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Bebas";
    src: url("/fonts/BebasNeue_Bold.ttf") format('truetype');
    font-style: normal;
    font-weight: 700;
}