/* adaptive */
$big-notebook_width: 1600px;
$bigpc_width: 1401px;
$smallpc_width: 1400px;
$container-min_width: 1301px;
$container_width: 1300px;
$laptop_width: 1199px;
$ipad_width: 1024px;
$tablet_min_width: 992px;
$tablet_width: 991px;
$big-mobile-min_width: 768px;
$big-mobile_width: 767px;
$s_mobile_width: 600px;
$mobile_width: 480px;

/* fonts */
$futura_font: 'FuturaNew';
$book_font: 'FuturaBook';
$noto_font: 'NotoSans';
$sans_font: 'OpenSans';

/* colors */
$base: #4F4F4F;

/* others */
$transition_all: all .3s ease-in-out;